.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 3px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: rgb(225, 238, 225);
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
.sidebarChat__info {
  margin-left: 15px;
}
